[Desktop Entry]
Exec=bovo -caption "%c"
Name=Bovo
Icon=bovo
Type=Application
X-DocPath=bovo/index.html
GenericName=Five-in-a-row Board Game
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
