[Desktop Entry]
Encoding=UTF-8
Exec=bovo -caption "%c"
Name=Bovo
Type=Application
DocPath=bovo/index.html
GenericName=Five-in-a-row Board Game
GenericName[pt]=Jogo de Tabuleiro de Cinco-em-Linha
GenericName[pt_BR]=Jogo de Tabuleiro de Cinco-em-Linha
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
