<!DOCTYPE kpartgui>
<gui name="bovo" version="3">
	<MenuBar>
		<Menu name="game"><text>&amp;Game</text>
			<Action name="new_game" />
			<Action name="replay" />
			<Action name="quit" />
		</Menu>
        <Menu name="edit"><text>&amp;Edit</text>
            <Action name="hint" />
            <Action name="undo" />
        </Menu>
		<Menu name="settings"><text>&amp;Settings</text>
			<Action name="skill" />
            <Action name="themes" />
            <Action name="animation" />
		</Menu>
	</MenuBar>

	<ToolBar name="mainToolBar"><text>Main Toolbar</text>
		<Action name="new_game" />
		<Action name="quit" />
		<Action name="replay" />
        <Action name="undo" />
        <Action name="hint" />
	</ToolBar>
</gui>
