<?xml version="1.0" encoding="UTF-8"?>
<gui name="bovo"
     version="5"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
	<MenuBar>
		<Menu name="game">
			<Action name="replay" />
		</Menu>
		<Menu name="settings">
			<Action name="themes" />
			<Action name="animation" />
		</Menu>
	</MenuBar>

	<ToolBar name="mainToolBar">
		<Action name="game_new" />
		<Action name="replay" />
		<Separator />
		<Action name="move_undo" />
		<Action name="move_hint" />
	</ToolBar>
</gui>
