<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="bovo" version="5">
	<MenuBar>
		<Menu name="game">
			<Action name="replay" />
		</Menu>
		<Menu name="settings">
			<Action name="themes" />
			<Action name="animation" />
		</Menu>
	</MenuBar>

	<ToolBar name="mainToolBar">
		<Action name="game_new" />
		<Action name="replay" />
		<Separator />
		<Action name="move_undo" />
		<Action name="move_hint" />
	</ToolBar>
</gui>
